/*main主体模块开始*/
.main {
	/*margin: 10px 0;*/
	margin-left: 220px;
	margin-top: 10px;
	width: 980px;
	height: 455px;
}
/*焦点图开始*/
.main .focus {
	float: left;
	width: 720px;
	height: 455px;
}
/*焦点图结束*/

/*main 新闻快报模块开始*/
.main .newsflash {
	float: right;
	width: 250px;
	height: 455px;
	/*background-color: green;*/
}
.main .newsflash .news {
	height: 165px;
	border: 1px solid #e4e4e4;
	/*background-color: blue;*/
}
.main .newsflash .news .news-hd {
	padding: 0 15px;
	height: 33px;
	font-size: 14px;
	line-height: 33px;
	border-bottom: 1px dashed #e8e8e7;
}
.main .newsflash .news .news-hd h4{
	float: left;
}
.main .newsflash .news .news-hd a {
	float: right;
	
}
.main .newsflash .news .news-hd a::after {
	content: '\e920';
	font-family: 'icomoon';	
}
.main .newsflash .news .news-bd{
	padding-left: 15px;
	padding-top: 5px;
	font-size: 12px;
}
.main .newsflash .news .news-bd span {
	font-weight: 700;
}
.main .newsflash .news .news-bd li {
	line-height: 24px;
	height: 24px;
	/*超出部分用省略号显示*/
	overflow: hidden; 
	white-space: nowrap; /*文字必须一行显示*/
	text-overflow: ellipsis; /*超出部分用省略号代替*/
}
.main .newsflash .lifeservice {
	overflow: hidden; /*溢出隐藏*/
	height: 209px;
	/*background-color: yellow;*/
	border: 1px solid #e4e4e4;
	border-top: 0;
	margin-bottom: 5px;
}
.main .newsflash .lifeservice ul {
	/*因为父盒子装不开4个小li所以开设置大一点,并且要设置溢出隐藏*/
	width: 252px; 
}
.main .newsflash .lifeservice ul li {
	float: left;
	width: 63px;
	height: 71px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-collapse: collapse; /*相邻的边框合并*/
	text-align: center;
	position: relative;
}
.main .newsflash .lifeservice i {
	display: inline-block;
	margin-top: 12px;
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -17px -16px;
}
.main .newsflash .lifeservice img {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 15px;
}
.main .newsflash .bargain {
	height: 76px;
}
/*main 新闻快报模块结束*/
/*main主体模块结束*/

/*推荐模块recom 开始*/
.recom {
	margin-top: 11px;
	height: 163px;
	background-color: pink;
}
.recom .recom-hd {
	float: left;
	padding-top: 30px;
	width: 204px;
	height: 163px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 38px;
	background-color: #5c5251;
}
.recom .recom-bd {
	float: right;
	width: 996px;
	height: 163px;
	
}
.recom .recom-bd li {
	float: left;	
	position: relative;
}
.recom .recom-bd li img {
	width: 249px;
	height: 163px;
}
/*选择前三个 设置小竖线*/
.recom .recom-bd li:nth-child(-n+3)::after {
	content: '';
	position: absolute;
	right: 0;
	top: 10px;
	width: 1px;
	height: 145px;
	background-color: #DDDDDD;
}
/*推荐模块recom 结束*/

/*猜你喜欢guesslike 模块开始*/
.guesslike {
	margin-top: 25px;
}
.guesslike .guesslike_hd {
	height: 28px;
}
.guesslike .guesslike_hd span{
	font-size: 18px;
}
.guesslike .guesslike_hd a {
	float: right;
	margin-right: 21px;
	line-height: 28px;
}
.guesslike .guesslike_hd a::after {
	content: '\ea2e';
	font-family: 'icomoon';
	margin-left: 3px;
}
.guesslike_bd {
	height: 230px;
	border: 1px solid #ededed;
}
.guesslike_bd li {
	float: left;
	width: 200px;
	height: 230px;
	/*background-color: pink;*/
	;
}
.guesslike_bd li:last-child {
	width: 196px;
}
.guesslike_bd_img {
	text-align: center;
	line-height: 163px;
}
.guesslike_tital {
	margin-left: 30px;
	font-size: 12px;
	border-right: 1px solid #ededed;
}
.guesslike_price {
	font-size: 18px;
	color: #df3033;
}
	/*选择最后一个li里面的tital*/
.guesslike_bd li:last-child .guesslike_tital{
	border-right: 0;
}
/*猜你喜欢guesslike 模块结束*/

/*楼层区 floor 开始*/
.floor {
	
}
/*楼层区 floor 一楼家用电器层结束*/
.floor  .box_hd {
	height: 30px;
	border-bottom: 2px solid #c81623;
}
.floor .box_hd  h4{
	float: left;
	height: 30px;
	font-size: 18px;
	color: #c81623;
	font-weight: 400;
}
	/*ul设置右浮动,小li设置左浮动,这样能保证文字不会相反*/
.floor .box_hd .tab_list ul {
	float: right;
	line-height: 30px;
}
.floor .box_hd .tab_list ul li{
	float: left;
	height: 30px;
	font-size: 12px;
	color: #999999;
}
.floor .box_hd .tab_list ul li a {
	/*margin: 0 15px;*/
	padding: 0 15px;
}
.floor  .box_bd {
	height: 361px;
	/*background-color: pink;*/
}
.floor .w {
	/*因为所有楼层都有一个上边距,所以直接给w设置,不用给家电模块之类的单独设置*/
	margin-top: 24px; 
}
	/*子代选择器,只能选择作为某元素的最近一级子元素*/
.floor .tab_list_item1>div {
	float: left;
	height: 361px;
}
.col_210 {
	width: 210px;
	background-color: #f9f9f9;
	padding-left: 13px;
	text-align: center;
}
.col_210 ul li {
	float: left;
	width: 86px;
	height: 33px;
	margin-right: 11px;
	border-bottom: 1px solid #ededed;
	line-height: 33px;
}
.col_330 {
	width: 330px;
}
.col_330 img {
	width: 330px;
	height: 361px;
}
.col_330 a {
	border-bottom: 1px solid #ededed;
}
.col_220 {
	width: 220px;
	/*background-color: green;*/
}
.col_220 img {
	width: 219px;
}
.bd {
	/*一般情况下a如果包含有宽度的盒子,那么a需要转换为块级元素*/
	display: block;
	border-bottom: 1px solid #ededed;
}
/*楼层区 floor 一楼家用电器层结束*/
/*楼层区 floor 结束*/
